{% extends 'contas/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block conteudo %}

<br>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <input class="btn btn-success" type="submit">
                <a class="btn btn-light" href="{% url 'index' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>



{% endblock conteudo %}