<div class="row">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-pedidos">
            <div class="card-header">
                <h5 class="card-title">Total de pedidos</h5>
            </div>
            <div class="card-body">
                <h3 class="card-tite">{{total_pedidos}}</h3>
            </div>
        </div>

    </div>

    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-clientes">
            <div class="card-header">
                <h5 class="card-title">Total de clientes</h5>
            </div>
            <div class="card-body">
                <h3 class="card-tite">{{total_clientes}}</h3>
            </div>
        </div>

    </div>

    <div class="col-md">
        <div class="card text-center text-white mb-3" id="pedidos-entregues">
            <div class="card-header">
                <h5 class="card-title">Pedidos entregues</h5>
            </div>
            <div class="card-body">
                <h3 class="card-tite">{{entregues}}</h3>
            </div>
        </div>

    </div>

    <div class="col-md">
        <div class="card text-center text-white mb-3" id="pedidos-pendentes">
            <div class="card-header">
                <h5 class="card-title">Pedidos pendentes</h5>
            </div>
            <div class="card-body">
                <h3 class="card-tite">{{pendentes}}</h3>
            </div>
        </div>

    </div>

</div>